.movieWrapper{
    /* background: tomato; */
}
.title {
    font-size:2rem;
    font-weight: 600;
    line-height: 1;
    /* text-shadow: 2px 2px black; */
    letter-spacing: 4px; 
}
.images {
    height: 200px;
    /* width: 150px; */
}
.movieImage {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 180px;
    height: auto;
    /* background-color: tomato; */
    margin: 5px;
    justify-content: center;
    padding: 2px;
}
/* css navbar image */
.newMovies {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    /* flex-wrap: inherit; */
    /* overflow-wrap: break-word; */
}
.img {
    margin-top: 35px;
    margin-left: 10px;
    width: 150px;
    height: 200px;
    box-shadow: 0px 0px 10px 0px red;
    border: 1px solid red;
    border-radius: 8px;
    z-index: 1;
}
.img:hover {
    width: 180px;
    height: 230px;
    transition: all 1s;
}

.formAdd {
    padding: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    background: tomato;
    font-weight: 500;
    width:450px;
}
