.myBG {
    height: 100vh;
    background: url("https://cdn.wallpapersafari.com/97/70/SCPOV4.jpg");
    background-size: cover;
    /* display: flex; */
    justify-content: space-around;
}
.trending {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url("https://static.toiimg.com/photo/msid-87289152/87289152.jpg");
    background-size: cover;
}
.intro {
    height: 300px;
    display: flex;
    justify-content: end;
    align-items: end;
}
.title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px black;
    letter-spacing: 4px;
}
.images {
    height: 300px;
   }
   .movieImage {
    height: auto;
    background-color: tomato;
    margin: 5px;
    padding: 5px;
}

/* css navbar image */
.newMovies{
   display: flex;
   justify-content: center;
   align-items: center;
   height: auto;

   /* flex-wrap: wrap; */
}
.img {
    margin-top: 35px;
    margin-left: 10px;
    width: 150px;
    height: 200px;
    box-shadow: 0px 0px 10px 0px red;
    border: 1px solid red;
    border-radius: 8px;
}
.img:hover {
    width: 180px;
    height: 250px;
    transition: all 1s;
}
